.place-detail {
  border: solid 3px #62535f;
  background-color: #ffffff;
  border-radius: 30px;
  width: 40%;
  margin: 0 auto;
  margin-top: 80px;
}

.detail-pin {
  width: 50px;
  height: 50px;
}

.place-detail h2 {
  color: #62535f;
  font-size: 28px;
}

.detail-title {
  display: flex;
  align-items: center;
  margin-left: 30px;
  column-gap: 10px;
  margin-bottom: 0;
}

.place-detail h3 {
  /* color: #62535f; */
  font-weight: 300;
  font-size: 18px;
  text-align: left;
  margin-left: 92px;
  margin-top: -20px;
}

.detail-button {
  text-decoration: none;
  color: #ffffff;
  background-color: #62535f;
  border: none;
  padding: 6px 18px;
  width: 88px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 8px 20px 30px 20px;
}

.detail-button:hover {
  background-color: #f2713a;
}
