.sign-in {
  background-image: url("https://i.imgur.com/aOgMbY6.jpg");
  overflow-y: scroll;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sign-in-container form {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.34);
  border: 1.4px solid rgba(255, 255, 255, 1);
  padding: 50px 50px 60px 50px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.sign-in-container h2 {
  color: #ffffff;
  margin-top: 0;
}

.sign-in-container label {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}

.sign-in-container input {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.34);
  border: 1.4px solid rgba(255, 255, 255, 1);
  margin-left: 12px;
  margin-bottom: 20px;
  padding: 4px;
  color: #62535f;
  width: 16vw;
}

.lets-go-button {
  text-decoration: none;
  color: #ffffff;
  background-color: #f2713a;
  border: none;
  padding: 6px 18px;
  width: 48x;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.sign-in-container p {
  color: #ffffff;
  margin-top: 30px;
  font-weight: 500px;
  font-size: 17px;
}

.sign-up-here {
  text-decoration: none;
  color: #f2713a;
  font-weight: 500;
}
